html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  --color-ui-gray: hsl(208,10%,50%);
  --color-text: hsl(208,30%,10%);
  --color-heading: hsl(208,15%,20%);
  --color-background: hsl(208,5%,100%);
  --color-button-primary-default: hsl(208,39%,25%);
  --color-button-primary-text: hsl(208,39%,100%);
  --color-button-primary-hover: hsl(208,39%,20%);
  --color-button-outline-primary-default: hsl(208,39%,25%);
  --color-button-outline-primary-hover: hsl(208,39%,20%);
  --color-button-secondary-default: hsl(40,55%,55%);
  --color-button-secondary-text: hsl(208,20%,10%);
  --color-button-secondary-hover: hsl(208,20%,10%);
  --color-link-default: #42668c;
  --color-link-hover: #294058;
  --color-link-underline: rgba(41, 64, 88, .25);
}

[data-ui=dark] {
  --color-ui-gray: hsl(208,10%,90%);
  --color-text: hsl(208,20%,90%);
  --color-heading: hsl(208,15%,90%);
  --color-background: hsl(208,5%,10%);
  --color-link-default: #7ea5d0;
  --color-link-hover: #aeccec;
  --color-link-underline: rgba(174, 204, 236, .25);
  --color-button-primary-hover: hsl(208,39%,30%);
  --color-button-secondary-hover: hsl(40,55%,65%);
}

dd,
dt,
li,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul,
fieldset,
input,
select,
textarea {
  margin-bottom: 0.6em;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 86vw;
  }
}

.container-sm {
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  position: relative;
}

.container-md {
  width: 100%;
  margin: 0 auto;
  max-width: 768px;
  position: relative;
}

.container-lg {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

.container-xl {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

em {
  font-style: italic;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin: 0 0 0.4em 0;
}

h1 {
  font: 400 6rem/0.9 "Passion One";
}
h1 a {
  font-weight: 400;
}

h2 {
  font: 400 4rem/1.1 "Passion One";
}
h2 a {
  font-weight: 400;
}

h3 {
  font: 700 3rem/1.2 "Barlow";
}
h3 a {
  font-weight: 700;
}

h4 {
  font: 700 2.6rem/1.35 "Barlow";
}
h4 a {
  font-weight: 700;
}

h5 {
  font: 600 2rem/1.4 "Barlow";
}

h6 {
  font: 600 1.6rem/1.4 "Barlow";
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
ul + p,
ol + p {
  margin-top: 0.6em;
}

ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3,
p + h1,
p + h2,
p + h3,
a + h1,
a + h2,
a + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h4,
ol + h5,
ol + h6,
p + h4,
p + h5,
p + h6 {
  margin-top: 2em;
}

sup {
  vertical-align: super;
  font-size: 0.7em;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}
ul li {
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: 2rem;
}
ol li {
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin: 0 0 0.75em 0;
}

.callout {
  font-size: 1.25em;
  font-style: italic;
}

.label {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 0;
}

ion-icon {
  vertical-align: -0.2em;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select, .button,
a.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border-radius: 0.5rem;
  overflow: hidden;
}

li.widget_categories > ul ul, li.widget_categories > ul, ul.platform-links, .widgets, .share-links, .main-menu ul.menu-level-1, .meta-links, ul.post-meta, ol.post-list, .featured-category-posts, ul.pagination, ol.instagram-posts, ol.comments, ul.books {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li.widget_categories > ul li, ul.platform-links li, .widgets li, .share-links li, .main-menu ul.menu-level-1 li, .meta-links li, ul.post-meta li, ol.post-list li, .featured-category-posts li, ul.pagination li, ol.instagram-posts li, ol.comments li, ul.books li {
  margin: 0;
  padding: 0;
}

.comment-box {
  margin: 0 -1.25em;
}
@media (min-width: 640px) {
  .comment-box {
    border-radius: inherit;
    margin: 0 -2em;
  }
}
@media (min-width: 1024px) {
  .comment-box {
    margin: 0;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-width: thin;
  background: var(--color-background);
  scroll-behavior: smooth;
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  font-family: "Barlow", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 400px) {
  body {
    font-size: 1.6rem;
  }
}

blockquote {
  border-left: 0.3rem solid var(--color-ui-gray);
  margin: 1.25em 0;
  padding: 0 1.25em;
}
blockquote *:last-child {
  margin-bottom: 0;
}

.button,
a.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background-color: var(--color-button-primary-default);
  border: 2px solid var(--color-button-primary-default);
  color: var(--color-button-primary-text);
  cursor: pointer;
  display: inline-block;
  font: 600 1.6rem/2 "Barlow";
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.button:focus, .button:hover,
a.button:focus,
a.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary-hover);
  border-color: var(--color-button-primary-hover);
  outline: 0;
  text-decoration: none;
}
.button[disabled],
a.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button[disabled]:focus, .button[disabled]:hover,
a.button[disabled]:focus,
a.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type=button][disabled]:focus,
input[type=button][disabled]:hover,
input[type=reset][disabled]:focus,
input[type=reset][disabled]:hover,
input[type=submit][disabled]:focus,
input[type=submit][disabled]:hover {
  background-color: #2d567a;
  border-color: #2d567a;
}
.button.button-secondary,
a.button.button-secondary,
button.button-secondary,
input[type=button].button-secondary,
input[type=reset].button-secondary,
input[type=submit].button-secondary {
  background-color: var(--color-button-secondary-default);
  border: 2px solid var(--color-button-secondary-default);
  color: var(--color-button-secondary-text);
}
.button.button-secondary:focus, .button.button-secondary:hover,
a.button.button-secondary:focus,
a.button.button-secondary:hover,
button.button-secondary:focus,
button.button-secondary:hover,
input[type=button].button-secondary:focus,
input[type=button].button-secondary:hover,
input[type=reset].button-secondary:focus,
input[type=reset].button-secondary:hover,
input[type=submit].button-secondary:focus,
input[type=submit].button-secondary:hover {
  background-color: var(--color-button-secondary-hover);
  border: 2px solid var(--color-button-secondary-hover);
}
.button.button-outline,
a.button.button-outline,
button.button-outline,
input[type=button].button-outline,
input[type=reset].button-outline,
input[type=submit].button-outline {
  background-color: transparent;
  color: #2d567a;
}
.button.button-outline:focus, .button.button-outline:hover,
a.button.button-outline:focus,
a.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type=button].button-outline:focus,
input[type=button].button-outline:hover,
input[type=reset].button-outline:focus,
input[type=reset].button-outline:hover,
input[type=submit].button-outline:focus,
input[type=submit].button-outline:hover {
  background-color: transparent;
  border-color: --color-ui-gray;
  color: --color-ui-gray;
}
.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
a.button.button-outline[disabled]:focus,
a.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type=button].button-outline[disabled]:focus,
input[type=button].button-outline[disabled]:hover,
input[type=reset].button-outline[disabled]:focus,
input[type=reset].button-outline[disabled]:hover,
input[type=submit].button-outline[disabled]:focus,
input[type=submit].button-outline[disabled]:hover {
  border-color: inherit;
  color: #2d567a;
}
.button.button-clear,
a.button.button-clear,
button.button-clear,
input[type=button].button-clear,
input[type=reset].button-clear,
input[type=submit].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #2d567a;
}
.button.button-clear:focus, .button.button-clear:hover,
a.button.button-clear:focus,
a.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type=button].button-clear:focus,
input[type=button].button-clear:hover,
input[type=reset].button-clear:focus,
input[type=reset].button-clear:hover,
input[type=submit].button-clear:focus,
input[type=submit].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: --color-ui-gray;
}
.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
a.button.button-clear[disabled]:focus,
a.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type=button].button-clear[disabled]:focus,
input[type=button].button-clear[disabled]:hover,
input[type=reset].button-clear[disabled]:focus,
input[type=reset].button-clear[disabled]:hover,
input[type=submit].button-clear[disabled]:focus,
input[type=submit].button-clear[disabled]:hover {
  color: #2d567a;
}
.button.button-ghost,
a.button.button-ghost,
button.button-ghost,
input[type=button].button-ghost,
input[type=reset].button-ghost,
input[type=submit].button-ghost {
  background-color: rgba(125, 125, 125, 0.15);
  border-color: transparent;
  color: #2d567a;
}
.button.button-ghost:focus, .button.button-ghost:hover,
a.button.button-ghost:focus,
a.button.button-ghost:hover,
button.button-ghost:focus,
button.button-ghost:hover,
input[type=button].button-ghost:focus,
input[type=button].button-ghost:hover,
input[type=reset].button-ghost:focus,
input[type=reset].button-ghost:hover,
input[type=submit].button-ghost:focus,
input[type=submit].button-ghost:hover {
  background-color: rgba(125, 125, 125, 0.2);
  border-color: transparent;
  color: #2d567a;
}
.button.button-ghost[disabled]:focus, .button.button-ghost[disabled]:hover,
a.button.button-ghost[disabled]:focus,
a.button.button-ghost[disabled]:hover,
button.button-ghost[disabled]:focus,
button.button-ghost[disabled]:hover,
input[type=button].button-ghost[disabled]:focus,
input[type=button].button-ghost[disabled]:hover,
input[type=reset].button-ghost[disabled]:focus,
input[type=reset].button-ghost[disabled]:hover,
input[type=submit].button-ghost[disabled]:focus,
input[type=submit].button-ghost[disabled]:hover {
  color: #2d567a;
}

code {
  background: rgba(var(--color-ui-gray), 0.2);
  font-family: courier;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

pre {
  font-family: courier;
  background: rgba(var(--color-ui-gray), 0.2);
  border-left: 2px solid --color-ui-gray;
  overflow-y: hidden;
  padding: 1.25em;
}
pre > code {
  border-radius: 0;
  display: block;
  white-space: pre;
}

blockquote {
  border-left: 0.3rem solid rgba(var(--color-ui-gray), 0.2);
  margin: 1.25em 0;
  padding: 0 1.25em;
}
blockquote *:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.25em 0;
  overflow: hidden;
}
hr:before {
  height: 1em;
  display: block;
  padding: 0;
  width: 0;
  white-space: nowrap;
  font-size: 1.5em;
  line-height: 0.5;
  letter-spacing: 0.1em;
  opacity: 0.5;
  content: "........................................................................................................................................";
}

details {
  overflow: hidden;
}
details summary {
  font-weight: 600;
  outline: none;
  cursor: pointer;
  color: var(--color-link-default);
}
details summary:hover, details summary:focus {
  color: var(--color-link-hover);
}

details[open] summary {
  outline: none;
}

details > summary:first-of-type {
  list-style-type: none;
}

details > summary {
  display: block;
}

::-webkit-details-marker {
  display: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  font: 400 1.6rem/1 "Barlow";
  color: var(--color-text);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-ui-gray);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.8rem;
  padding: 0 1rem;
  width: 100%;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  border-color: var(--color-ui-gray);
  outline: 0;
}

select {
  color: var(--color-ui-gray);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="gray" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: calc(100% - 0.6em) center;
  background-repeat: no-repeat;
}
select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="gray" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

::-webkit-input-placeholder {
  color: var(--color-ui-gray);
}

::-moz-placeholder {
  color: var(--color-ui-gray);
}

:-ms-input-placeholder {
  color: var(--color-ui-gray);
}

::-ms-input-placeholder {
  color: var(--color-ui-gray);
}

::placeholder {
  color: var(--color-ui-gray);
}

textarea {
  min-height: 8rem;
  padding: 1rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-inline > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-inline > *:not(:last-child) {
  margin-right: 1.25em;
}

img:not([class*=wp-image-]) {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 100%;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 100%;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 100%;
}

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 100%;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link-default);
  font-weight: 600;
}
a:focus, a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-link-underline);
          text-decoration-color: var(--color-link-underline);
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3rem;
}

ol {
  list-style: decimal;
}

ul {
  list-style: circle;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border-bottom: 2px solid rgba(var(--color-ui-gray), 0.2);
  padding: 1.2rem 1.5rem;
  text-align: left;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}

.thrive-sidebar-sticky {
  margin-top: 1.25em;
  position: sticky;
  top: 1.25em;
}

.thrive-bottom-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.banner {
  color: #fff;
  overflow: hidden;
  background-color: #22415c;
  position: relative;
  z-index: 0;
  text-align: center;
}

.underlay {
  z-index: -1;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  width: 120%;
}
.underlay img {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-title {
  margin: 2em;
}

.banner-logo {
  max-width: 30em;
  margin: 1.25em auto;
  padding: 2em;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.5));
}

ul.books li.book {
  margin: 2em 0 0 0;
  padding: 3em 0 0 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  ul.books li.book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
ul.books li.book:before {
  opacity: 0.75;
  font-size: 1.5em;
  height: 1.75em;
  margin-top: -2.8em;
  display: block;
  padding: 0;
  width: 0;
  white-space: nowrap;
  line-height: 1.6;
  letter-spacing: 0.1em;
  content: "................................................................................................................................................................................................................................................................................";
}

@media (min-width: 768px) {
  .book-image {
    width: 12em;
    margin-right: 2em;
  }
}
.book-image img {
  border-radius: 1rem;
  border: 2px solid rgba(125, 125, 125, 0.2);
}

.book-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment-box {
  margin-top: 4em;
  background: #f2f2f2;
  padding: 1.25em;
}
@media (min-width: 640px) {
  .comment-box {
    border-radius: 1rem;
  }
}

ol.comments {
  font-size: 1.6rem;
}
ol.comments li.comment {
  padding: 1.25em;
  margin: 1.25em 0 0 0;
  background: #fff;
  border-radius: 1rem;
}
ol.comments li.child-comment {
  border-radius: 0;
  padding: 0 0 0 0.6em;
}

.comment-content {
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

ol.child-comments {
  border-left: 2px solid rgba(125, 125, 125, 0.2);
}

.comment-author {
  margin: 0;
}

.comment-form-primary {
  margin-top: 1.25em;
  padding: 1.25em;
  background: #fff;
  border-radius: 1rem;
}

.comment-meta {
  font-weight: 400;
  margin-left: 0.4em;
  font-size: 1.4rem;
  color: #6E6E6E;
}

details summary {
  font-size: 1.4rem;
  margin: 0.6em 0;
}

.feature {
  background: rgba(125, 125, 125, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .feature-image {
    width: 40%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .feature-image img {
    min-height: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.feature-text {
  padding: 2em;
}

.lego-books .feature-lego {
  border-radius: 1rem;
  color: #fff;
  background: #1f3c55;
}
@media (min-width: 1280px) {
  .lego-books .feature-lego {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.lego-books .lego-image {
  width: 100%;
}
@media (min-width: 1280px) {
  .lego-books .lego-image {
    width: 60%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .lego-books .lego-image img {
    min-height: 100%;
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

ol.instagram-posts {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}
ol.instagram-posts img {
  border-radius: 1rem;
}
ol.instagram-posts figcaption h5 {
  margin: 0.4em 0 0 0;
}

ul.pagination {
  padding: 3em 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}
ul.pagination li {
  padding: 0.75em;
}
.featured-category-posts li {
  margin: 1.25em 0;
}
@media (min-width: 640px) {
  .featured-category-posts {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }
  .featured-category-posts li {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .featured-category-posts {
    grid-template-columns: 1fr 1fr;
  }
}

.category-header {
  margin: 2em 0 1.25em 0;
  overflow: hidden;
}
.category-header:before {
  opacity: 0.75;
  font-size: 0.65em;
  height: 1.75em;
  display: block;
  padding: 0;
  width: 0;
  white-space: nowrap;
  line-height: 1.6;
  letter-spacing: 0.1em;
  content: "................................................................................................................................................................................................................................................................................";
}
.category-header > a {
  color: var(--category-color);
  opacity: 0.8;
}
.category-header > a:hover, .category-header > a:focus {
  opacity: 1;
}

ol.post-list li.post-intro {
  margin: 2em 0 0 0;
  padding: 3em 0 0 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  ol.post-list li.post-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
ol.post-list li.post-intro:before {
  font-size: 1.5em;
  opacity: 0.75;
  height: 1.75em;
  margin-top: -2.8em;
  display: block;
  padding: 0;
  width: 0;
  white-space: nowrap;
  line-height: 1.6;
  letter-spacing: 0.1em;
  content: "................................................................................................................................................................................................................................................................................";
}

.post-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.post-intro-image {
  min-width: 35%;
  max-width: 12em;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  /* default value */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1.25em;
}
.post-intro-image img {
  -webkit-transition: 100ms -webkit-transform ease-out, 100ms -webkit-box-shadow ease-out;
  transition: 100ms -webkit-transform ease-out, 100ms -webkit-box-shadow ease-out;
  transition: 100ms transform ease-out, 100ms box-shadow ease-out;
  transition: 100ms transform ease-out, 100ms box-shadow ease-out, 100ms -webkit-transform ease-out, 100ms -webkit-box-shadow ease-out;
  border-radius: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 0 0 var(--category-color);
          box-shadow: 0 0 0 0 var(--category-color);
}
.post-intro-image:hover img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0.3rem 0.3rem 0 0.2rem var(--category-color);
          box-shadow: 0.3rem 0.3rem 0 0.2rem var(--category-color);
}

.post-intro-text {
  width: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.post-intro-text h3 {
  font-size: 2.4rem;
}
.post-intro-text h3 a {
  opacity: 0.8;
}
.post-intro-text h3 a:hover, .post-intro-text h3 a:focus {
  opacity: 1;
}
.post-intro-text h6 {
  margin: 0 0 0.4em 0;
  line-height: 1.1;
}

.post-intro-tiny .post-intro-image {
  width: 50%;
  max-width: 8em;
}
.post-intro-tiny .post-intro-text {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

ul.post-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
ul.post-meta li {
  margin-bottom: 0.6em;
}
ul.post-meta li a:not(:last-child)::after {
  content: ",";
}
ul.post-meta li:not(:last-child) {
  margin-right: 2em;
}

.post-intro-full {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .post-intro-full {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.post-intro-full .post-intro-image {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}
@media (min-width: 640px) {
  .post-intro-full .post-intro-image {
    width: 35%;
    max-width: 20em;
  }
}
.post-intro-full .post-intro-text {
  padding: 0 0 1.25em 0;
}
@media (min-width: 640px) {
  .post-intro-full .post-intro-text {
    padding: 0 0 0 2em;
  }
}

.post-intro-single {
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 640px) {
  .post-intro-single {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .post-intro-single ul.share-links {
    max-width: 20em;
  }
}
.post-intro-single .post-intro-text {
  width: 100%;
  padding: 0;
  padding: 3em 1.25em;
}
@media (min-width: 640px) {
  .post-intro-single .post-intro-text {
    padding: 3em 2em;
  }
}
.post-intro-single .post-intro-text h1 {
  font-size: calc(3em + 3vw);
}
@media (min-width: 768px) {
  .post-intro-single .post-intro-text {
    padding: 3em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post-intro-single .post-intro-text h1 {
    font-size: 8rem;
  }
}
@media (min-width: 768px) {
  .post-intro-single .post-intro-text .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post-header-content {
  margin: 0 0 3em 0;
}
@media (min-width: 768px) {
  .post-header-content {
    margin: 0 3em 0 0;
  }
}

.meta-links {
  display: block;
}

.meta-link {
  display: inline-block;
  font-size: 1.4rem;
}
.meta-link:not(:last-child) {
  margin-right: 0.4em;
}
.meta-link a {
  background: rgba(125, 125, 125, 0.1);
  display: block;
  padding: 0.4em 0.6em;
  border-radius: 1rem;
}

section.main-menu-wrapper {
  position: relative;
  top: 0;
  max-height: 4.5em;
  padding: 0.6em 1.25em;
  background: #2d567a;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
@media (min-width: 768px) {
  section.main-menu-wrapper {
    height: 4.5em;
    -ms-flex-wrap: none;
        flex-wrap: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
section.main-menu-wrapper a {
  color: #fff;
  text-decoration: none;
}

img.logo {
  display: block;
  width: 6.5em;
  opacity: 1;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
}

.menu-item-text {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 100ms -webkit-transform ease-out;
  transition: 100ms -webkit-transform ease-out;
  transition: 100ms transform ease-out;
  transition: 100ms transform ease-out, 100ms -webkit-transform ease-out;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 768px) {
  .main-menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.main-menu ul.menu-level-1 {
  width: 100%;
  margin: 1.25em 0;
}
@media (min-width: 768px) {
  .main-menu ul.menu-level-1 {
    width: auto;
    margin: 0 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) {
  .main-menu ul.menu-level-1 > li {
    margin-left: 1.25em;
  }
}
.main-menu ul.menu-level-1 > li a {
  font-family: "Passion One";
  letter-spacing: 0.05em;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0.5em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu ul.menu-level-1 > li a:hover img.menu-item-icon {
  -webkit-animation: shake 0.3s;
          animation: shake 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.main-menu ul.menu-level-1 > li a:hover .menu-item-text {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (min-width: 768px) {
  .main-menu ul.menu-level-1 > li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.8em;
  }
}
.main-menu .widget_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.25em 0 0 0;
}
@media (min-width: 768px) {
  .main-menu .widget_search form {
    margin: 0;
    width: 10em;
  }
}
.main-menu .widget_search form input.search-input {
  border-radius: 1rem 0 0 1rem;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
}
.main-menu .widget_search form button.search-submit {
  border-radius: 0 1rem 1rem 0;
  padding: 0 0.6em;
}

img.menu-item-icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.6em 0 0;
}
@media (min-width: 768px) {
  img.menu-item-icon {
    margin: 0 auto;
  }
}

.menu-toggle {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 2.5em;
  padding: 0.4em;
  margin: 0.6em 0 0.6em auto;
  width: 2.5em;
  display: block;
  text-indent: -9999px;
  line-height: 0;
}
.menu-toggle:hover, .menu-toggle:focus {
  background: transparent;
  color: rgba(255, 255, 255, 0);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle span {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 0 0 0.5em 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

[data-menu-state=active] .menu-toggle span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
[data-menu-state=active] .menu-toggle span:first-child {
  -webkit-transform: translateY(0.8em) rotate(135deg);
          transform: translateY(0.8em) rotate(135deg);
}
[data-menu-state=active] .menu-toggle span:last-child {
  -webkit-transform: translateY(-0.6em) rotate(-135deg);
          transform: translateY(-0.6em) rotate(-135deg);
}
[data-menu-state=active] .main-menu-wrapper {
  max-height: 100vh;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  33% {
    -webkit-transform: translate(-3px, 0px) rotate(-10deg);
            transform: translate(-3px, 0px) rotate(-10deg);
  }
  66% {
    -webkit-transform: translate(1px, -1px) rotate(10deg);
            transform: translate(1px, -1px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  33% {
    -webkit-transform: translate(-3px, 0px) rotate(-10deg);
            transform: translate(-3px, 0px) rotate(-10deg);
  }
  66% {
    -webkit-transform: translate(1px, -1px) rotate(10deg);
            transform: translate(1px, -1px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(0deg);
            transform: translate(1px, -2px) rotate(0deg);
  }
}
.share-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  margin: 1.25em 0;
}
.share-links li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.share-links li:not(:last-child) {
  margin-right: 0.6em;
}
.share-links a.button {
  width: 100%;
  padding: 0;
  border-color: #fff;
}
.share-links .facebook {
  background: #3C5A99;
}
.share-links .facebook:hover, .share-links .facebook:focus {
  background: #2e4474;
}
.share-links .pinterest {
  background: #e60023;
}
.share-links .pinterest:hover, .share-links .pinterest:focus {
  background: #b3001b;
}

.subscribe {
  background: #006f62;
  color: #fff;
  padding: 2em;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .subscribe {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .subscribe .form-input {
    margin-top: 1.25em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe .form-input .formkit-alert-error {
    display: none;
  }
  .subscribe .form-input input {
    background: #006054;
    margin: 0 1.25em 0 0;
    max-width: 15em;
  }
}

.banner-subscribe {
  border-radius: 1rem;
  text-align: left;
  padding: 1.25em;
  -webkit-box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.4);
          box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .banner-subscribe {
    margin: 0 0 0 auto;
    max-width: 20em;
  }
}
@media (min-width: 768px) {
  .banner-subscribe .form-input {
    margin-top: 1.25em;
    display: block;
  }
  .banner-subscribe .form-input .formkit-alert-error {
    display: none;
  }
  .banner-subscribe .form-input input {
    margin: 0 0 0.6em 0;
    max-width: 100%;
  }
}

.sidebar li.widget {
  background: #f2f2f2;
  border-radius: 1rem;
  padding: 1.25em;
}
.sidebar li.widget:not(:first-child) {
  margin-top: 1.25em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}
@media (max-width: 400px) {
  .about {
    display: block;
  }
}
@media (min-width: 1024px) {
  .about {
    display: block;
  }
}
.about img {
  border-radius: 1rem;
}
.about .card-image {
  margin: 0 1.25em 0 0;
  max-width: 300px;
  min-width: 25%;
}
@media (min-width: 1024px) {
  .about .card-image {
    margin: 0 0 0.6em 0;
  }
}
footer .widgets {
  max-width: 100%;
  margin: 1.25em;
}
@media (min-width: 640px) {
  footer .widgets {
    margin: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1024px) {
  footer .widgets {
    margin: 3em 8vw;
  }
}

ul.platform-links {
  margin-top: 1.25em;
}
ul.platform-links li {
  margin-top: 0.6em;
}
ul.platform-links ion-icon {
  vertical-align: middle;
  font-size: 2em;
  margin-right: 0.6em;
}

li.widget_categories {
  padding: 2em 0 0 0;
}
@media (min-width: 640px) {
  li.widget_categories {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0 0 0 3em;
  }
}
li.widget_categories .widgettitle, li.widget_categories .cat-item-1 {
  display: none;
}
li.widget_categories > ul {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
}
li.widget_categories > ul > li {
  overflow: hidden;
}
li.widget_categories > ul > li:before {
  color: #fff;
  height: 1em;
  display: block;
  padding: 0;
  width: 0;
  white-space: nowrap;
  font-size: 1.5em;
  line-height: 0.5;
  letter-spacing: 0.1em;
  opacity: 0.5;
  content: "........................................................................................................................................";
}
li.widget_categories > ul > li > a {
  font-size: 2rem;
}
li.widget_categories > ul ul > li {
  line-height: 1.2;
  margin-top: 0.6em;
}
li.widget_categories > ul ul > li a {
  font-weight: 400;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: 1.25em;
  grid-template-areas: "header header header" "pad1 feature pad2" "pad1 main pad2" "pad1 sidebar pad2" "footer footer footer";
  grid-template-columns: 0px 1fr 0px;
}
@media (min-width: 1024px) {
  body {
    grid-gap: 3em;
    grid-template-areas: "header header header header" "pad1 feature feature pad2" "pad1 main sidebar pad2" "footer footer footer footer";
    grid-template-columns: 1fr minmax(20em, 40em) 300px 1fr;
  }
}
body > header {
  grid-area: header;
}
body > main {
  grid-area: main;
}
body > aside {
  grid-area: sidebar;
}
body > footer {
  width: 100%;
  background: #12212f;
  grid-area: footer;
}
body > footer a {
  color: #fff;
  opacity: 0.8;
}
body > footer a:hover, body > footer a:focus {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

#feature {
  grid-area: feature;
}
.page-section:not(:last-child) {
  margin-bottom: 3em;
}

footer .copyright {
  padding: 3em 2em;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
footer .copyright h5 {
  font-size: 0.85em;
  font-weight: 400;
}
footer .copyright h6 {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.empty-wrapper {
  grid-column: 1/-1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.empty-wrapper .big-icon {
  margin: 0;
  font-size: 6em;
}

.article-body {
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin-bottom: 4em;
}
.article-body img {
  max-width: 100%;
  height: auto;
}