{% extends "base.twig" %}

{% block feature %}
	<section class="empty-wrapper">
		<ion-icon class="big-icon" name="help-circle"></ion-icon>
		<p>Oops, there doesn't seem to be anything here.</p>
		<a class="button button-primary" href="{{ site.link }}">Home</a>
	</section>
	


{% endblock %}

