<aside class="sidebar">

    <div class="thrive-sidebar" data-thrive="true">
    </div>
    <ol class="widgets">
    {{sidebar}}
    </ol>
    <div class="thrive-sidebar-sticky" data-thrive="true">
    </div>

</aside>