<form class="subscribe {{ location }}-subscribe" action="https://app.convertkit.com/forms/868375/subscriptions"  data-ui="dark" method="post" data-sv-form="868375" data-uid="e6160e8073" data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""}}}'>
	<div class="form-text">
		<h5>Want these great ideas sent right to your inbox? Sign up for the newsletter.</h5>
	</div>
	<div class="form-input">
		<ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
		<input aria-label="First Name" name="fields[first_name]" placeholder="First Name" type="text">
		<input aria-label="Email" name="email_address" placeholder="Email" required="" type="email">
		<button data-element="submit" class="formkit-submit formkit-submit">Keep me up to date</button>
	</div>
</form>