
// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
	font: 400 1.6rem/1 'Barlow';
	color: var(--color-text);
	appearance: none; // Removes awkward default styles on some inputs for iOS
	background-color: transparent;
	border: $border-width solid var(--color-ui-gray);
	@extend %rounded;
	box-shadow: none;
	//box-sizing: inherit; // Forced to replace inherit values of the normalize.css
	box-sizing:border-box;
	height: 3.8rem;
	padding: 0 1.0rem;
	width: 100%;

	&:focus {
		border-color: var(--color-ui-gray);
		outline: 0;
	}

}

select {
	color: var(--color-ui-gray);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="gray" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
	background-position: calc(100% - #{$space-sm}) center;
	background-repeat: no-repeat;

	&:focus {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="gray" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
	}
}

::placeholder,
	{
	color: var(--color-ui-gray);
}

textarea {
	min-height: 8rem;
	padding: 1.0rem;
}

label,
legend {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

fieldset {
	border-width: 0;
	padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
}

.label-inline {
	display: inline-block;
	font-weight: normal;
	margin-left: .5rem;
}
.form-inline{
	display:flex;
	>*{
		flex-grow:1;
		&:not(:last-child){
			margin-right:$space-md;
		}
	}
}
