
// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––


img:not([class*="wp-image-"]){
    width:100%;
    height:auto;
}

img{
    max-width:100%;
    height:auto;
}

img.alignright {float:right; margin:0 0 1em 1em;max-width:100%;}
img.alignleft {float:left; margin:0 1em 1em 0;max-width:100%;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto;max-width:100%;}
a img.alignright {float:right; margin:0 0 1em 1em;max-width:100%;}
a img.alignleft {float:left; margin:0 1em 1em 0;max-width:100%;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto;max-width:100%;}