@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,600,700|Passion+One&display=swap');

// Base Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'base/reset';
@import 'base/color';
@import 'base/spacing';
@import 'base/typography';
@import 'base/utility';
@import 'base/mixins';
@import 'base/base';



// Elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'elements/blockquote';
@import 'elements/button';
@import 'elements/code';
@import 'elements/divider';
@import 'elements/details';
@import 'elements/form';
@import 'elements/image';
@import 'elements/link';
@import 'elements/list';
@import 'elements/table';


// Plugins
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'plugins/plyr/plyr';

// Components
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@import 'components/ads';
@import 'components/banner';
@import 'components/books';
@import 'components/comments';
@import 'components/feature';
@import 'components/instagram-posts';
@import 'components/pagination';
@import 'components/post-intro';
@import 'components/meta-links';
@import 'components/menu';
@import 'components/share-links';
@import 'components/subscribe-form';
@import 'components/widgets';


// Layouts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
//@import 'layouts/grid';
@import 'layouts/layout';









